<bod>
    <h1>{{title}}</h1>

    <form method="POST" action="/user/login">

    <input type="email" name="email" placeholder="email address">
    <input type="password" name="password" placeholder="provide a password">

    <button type="submit">Submit</button>

    </form>
</bod>